* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: #131313;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;

}

.btn {
    padding: 15px;
    font-size: 2rem;
    font-weight: bold;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 25px #fff;
}

.active {
    background-color: #fff;
}